@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
/* main.css */

* {
  border: 0 solid;
  box-sizing: border-box;
}

#__next {
  height: 100vh;
}

html, body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.main-container {
  height: inherit;
  padding: 50px;
  background: #000;
  color: white;
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 100%;
  max-width: 50rem;
  margin: 0 auto;
  color: #ffffff;
}

h1 {
  text-align: center;
}

button {
  cursor: pointer;
}

.input-form {
  padding: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 80vw;
  max-width: 800px;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0px 0px 0px 8px;
  font-size: 14px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px 0px 0px 4px;
}

.input-group-append {
  margin-left: -1px;
}

.input-group-append, .input-group-prepend {
  display: flex;
}

button, input {
  height: 44px;
  padding: 8px;
  font-size: 14px;
  border-radius: 0px 4px 4px 0px;
  font-family: inherit;
  color: #fff;
  background: transparent;
  border: 1px solid transparent;
  border-color: #f8f9fa;
}

input:active, input:focus {
  outline: none;
}

input::placeholder {
  color: #495057;
}

.input-shake {
  animation: shake 0.4s 1 linear;
}

@keyframes shake {
  0% {
    transform: translate(20px);
  }
  20% {
    transform: translate(-20px);
  }
  40% {
    transform: translate(15px);
  }
  60% {
    transform: translate(-10px);
  }
  80% {
    transform: translate(5px);
  }
  100% {
    transform: translate(0px);
  }
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0)
  }
  20%, 60% {
    transform: rotate(-25deg)
  }
  40%, 80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}