@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
/* main.css */

* {
  border: 0 solid;
  box-sizing: border-box;
}

#__next {
  height: 100vh;
}

html, body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

p {
  padding-left: 8px;
  margin: 0;
}

p::selection {
  background: #fff;
  color: #000;
}

::selection {
  background: #000;
  color: #fff;
}

.main-container {
  height: inherit;
  padding: 50px;
  background: #000;
  color: white;
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
}

.secondary-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.secondary-container .input-form:first-child {
  padding-top: 32px;
}

.secondary-container .input-form:last-child {
  padding-bottom: 32px;
}

.secondary-container .input-form {
  padding: 0px 0px 10px 0px;
}

.container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 100%;
  max-width: 50rem;
  margin: 0 auto;
  color: #fff;
}

h1 {
  text-align: center;
}

button {
  cursor: pointer;
}

.input-form {
  margin: auto;
  padding: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 80vw;
  max-width: 800px;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0px 0px 0px 8px;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px 0px 0px 4px;
}

.input-group-append {
  margin-left: -1px;
}

.input-group-append, .input-group-prepend {
  display: flex;
}

.border-none {
  border-radius: 0px;
  border: 1px;
}

.pointer {
  cursor: pointer;
}

.icon {
  height: 18px;
  display: inline-block;
  line-height: 1em;
  flex-shrink: 0;
  color: currentColor;
  vertical-align: middle;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #000;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 190px;
  height: 44px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 4px 0px 0px 4px;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 12px;
  user-select: text;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

button, input {
  height: 44px;
  padding: 8px;
  font-size: 14px;
  border-radius: 0px 4px 4px 0px;
  font-family: inherit;
  color: #fff;
  background: #000;
  border: 1px solid #fff;
}

.border-reverse {
  border: 1px solid #000;
}

input:active, input:focus {
  outline: none;
}

input::placeholder {
  color: #000;
}

.input-shake {
  animation: shake 0.4s 1 linear;
}

@keyframes shake {
  0% {
    transform: translate(20px);
  }
  20% {
    transform: translate(-20px);
  }
  40% {
    transform: translate(15px);
  }
  60% {
    transform: translate(-10px);
  }
  80% {
    transform: translate(5px);
  }
  100% {
    transform: translate(0px);
  }
}

.svg-github {
  fill: #fff;
  color: #000;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0)
  }
  20%, 60% {
    transform: rotate(-25deg)
  }
  40%, 80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}